.filterDropdown {
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.selectedFilter {
  display: inline-flex;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  gap: 5px;
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
